[github]
    user = krunkosaurus
    token = 9670d27d43e6157241be45c70a2dc31d
[user]
	name = Mauvis Ledford
	email = mauvis@pathbrite.com
[color]
	branch = auto
	status = auto
	diff = auto
	ui = true
[tig]
   show-date = relative
   author-width = 5
   show-rev-graph = yes
[push]
	default = current
[pull]
	default = current
[alias]
	co = checkout
    ps = push origin HEAD:refs/for/master
[core]
	editor = emacs
	autocrlf = input
[branch]
	autosetupmerge = true